@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@inject IJSRuntime jsRuntime;
@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;

        Task.Run(async () =>
        {
            var connection = await new Module(jsRuntime).createRTCPeerConnection();

            connection.onicegatheringstatechange += onicegatheringstatechange;

            connection.onicecandidate += onicecandidate;

            var offer = await connection.createOffer();
            await connection.setLocalDescription(new RTCLocalSessionDescriptionInit(offer));

            System.Diagnostics.Debug.WriteLine(connection);
        });
    }

    public void onicegatheringstatechange(object sender, EventArgs e)
    {
        System.Diagnostics.Debug.WriteLine(e);
    }

    public void onicecandidate(object sender, RTCPeerConnectionIceEvent e)
    {
        System.Diagnostics.Debug.WriteLine(e);
    }
} 